<!doctype html>
<head>
    <meta charset="utf-8">
    <title>JK Store</title>
</head>

<body>
    <table border="0">
	<tr>
		<td colspan="3" align="left" valign="top">
		    {% include "JKStoreBundle::header.html.twig" %}
	        </td>
	</tr>
        <tr>
		<td align="left" valign="top" width="162">  
		        {% include "JKStoreBundle::leftsidebar.html.twig" %}
		</td>
		<td align="left" valign="top" width="596" >
			{% block content %}
		        {% endblock %}
		</td>
	</tr>
	<tr align="left" valign="top">
		<td colspan="3" valign="top">
		    {% include "JKStoreBundle::footer.html.twig" %}
		</td>
	</tr>
   </table>

</body>
</html>
